* {
    margin: 0px;
    padding: 0px;
}

/* Default = light mode */
:root {
  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;
  --color-text: #4c4f69;
  --color-subtext1: #5c5f77;
  --color-subtext0: #6c6f85;
  --color-overlay2: #7c7f93;
  --color-overlay1: #8c8fa1;
  --color-overlay0: #9ca0b0;
  --color-surface2: #acb0be;
  --color-surface1: #bcc0cc;
  --color-surface0: #ccd0da;
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;
  --color-accent: var(--color-lavender);
}

/* Automatically switch to dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;
    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
    --color-accent: var(--color-sapphire);
  }
}

html, body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
}

main {
  margin: 0 auto;
  max-width: 1400px;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

.main-title {
  text-align: center;
  color: var(--color-crust);
}

.main-banner {
  background-color: var(--color-accent);
  text-align: center;
  padding: 0.5rem;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.6rem;
  color: var(--color-accent);
}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.circle-button {
  width: 2rem;
  height: 2rem;
  font-size: 130%;
  margin-left:auto;
  background: none;
  border: none;
  color: var(--color-subtext1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.circle-button:hover {
  color: var(--color-accent);
  box-shadow: 0 0 6px 2px var(--color-base);
  border-radius: 50%; 
}

.form-input, 
.form-button {
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem;
  box-sizing: border-box;   
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form-input {
  background-color: var(--color-base);
  color: var(--color-text);
}

.form-label {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.form-button {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.confirm-button {
  background: var(--color-accent);
  color: var(--color-base);
}

.cancel-button {
  background: var(--color-overlay0);
  color: var(--color-base);
}

.search-bar {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.search-input {
  border-radius: 0.4rem;
  border: 1px solid var(--color);
  background: var(--color-mantle);
  color: var(--color-text);
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--color-subtext0);
}

.card {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--color-mantle);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Expense list styles */
.expense-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

.expense-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1em;
  background-color: var(--color-mantle);
}

.expense-icon {
  font-size: 1.5rem;       /* Icon size */
  width: 3rem;
  display: flex;
  color: var(--color-accent); /* Icon color */
}

.expense-title {
  display: flex;
  color: var(--color-text);
  flex-direction: column; /* Stack text vertically */
  gap: 0.2rem;
}

/* Expense detail styles */
.expense-detail-amount,
.expense-detail-balance,
.expense-detail-date {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}

.expense-detail-icon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Expense friends styles */
.friend-card {
  display: flex; /* Makes children align horizontally */
  align-items: center; /* Vertically center icon and text content */
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-mantle);
}



/* Icon friend within a circle */
.friend-icon {
  font-size: 1.5rem;       /* Icon size */
  width: 3rem;             /* Circle width */
  height: 3rem;            /* Circle height */
  display: flex;           /* Center icon inside */
  justify-content: center;
  align-items: center;
  background: var(--color-crust); /* Background color of the circle */
  color: var(--color-accent);   /* Icon color */
  border-radius: 50%;      /* Makes it a perfect circle */
}

/* Text content */
.friend-info {
  display: flex;
  color: var(--color-text);
  flex-direction: column; /* Stack text vertically */
  gap: 0.2rem;
}

.expense-friend-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.friend-card--action {
  padding: 0; /* remove padding because button will handle it */
}

.friend-action {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.friend-action-text {
  font-size: 1.2rem;
  color: var(--color-text);
  font-weight: 600;
}

/* Edit expense styles */
.edit-title {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}

.edit-icon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expense-detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Add friend to expense styles */
.tap-friend-text {
  display: flex;
  color: var(--color-subtext1);
  text-align: left;
  margin-bottom: 0.8rem;
  margin-left: 0.9rem;
}

.add-friend-button {
  font-size: 160%;
  margin-left: auto;
  background: none;
  border: none;
  color: var(--color-subtext1);
  cursor: pointer;
}

/* Delete friend from expense styles */
.delete-friend-title {
  color: var(--color-accent);
  margin-bottom: 0.6rem;
}

.delete-friend-text {
  margin-bottom: 0.6rem;
}

div.delete-friend-buttons {
  display: flex;
  gap: 10px;
}

/* Add credit to friend styles */
div.add-credit-buttons {
  display: flex;
  gap: 10px;
}

/* Footer styles */
footer {
  display: flex;
  gap: 0.3rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.25rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  /* Left column */
  .left-list {
    flex: 0 0 20%;
  }

  /* Right column */
  .right-wrapper {
    flex: 1 1;
  }
}

@media (min-width: 768px) {

  /* Left column */
  .left-list {
    flex: 0 0 30%;
  }
}

@media (min-width:  992px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width:  1200px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width:  1400px) {
  .container {
    max-width: 85%;
  }
}