* {
    margin: 0px;
    padding: 0px;
}

/* Default = light mode */
:root {
  --color-rosewater: #dc8a78;
  --color-flamingo: #dd7878;
  --color-pink: #ea76cb;
  --color-mauve: #8839ef;
  --color-red: #d20f39;
  --color-maroon: #e64553;
  --color-peach: #fe640b;
  --color-yellow: #df8e1d;
  --color-green: #40a02b;
  --color-teal: #179299;
  --color-sky: #04a5e5;
  --color-sapphire: #209fb5;
  --color-blue: #1e66f5;
  --color-lavender: #7287fd;
  --color-text: #4c4f69;
  --color-subtext1: #5c5f77;
  --color-subtext0: #6c6f85;
  --color-overlay2: #7c7f93;
  --color-overlay1: #8c8fa1;
  --color-overlay0: #9ca0b0;
  --color-surface2: #acb0be;
  --color-surface1: #bcc0cc;
  --color-surface0: #ccd0da;
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;
  --color-accent: var(--color-lavender);
}

/* Automatically switch to dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;
    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
    --color-accent: var(--color-sapphire);
  }
}

html, body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
}

h1 { font-size: clamp(2.2rem, 4vw, 3.2rem); }
h2 { font-size: clamp(1.8rem, 3vw, 2.6rem); }
h3 { font-size: clamp(1.5rem, 2vw, 2rem); }
h4 { font-size: clamp(1.25rem, 1.5vw, 1.5rem); }
h5 { font-size: clamp(1.1rem, 1vw, 1.25rem); }
h6 { font-size: clamp(1rem, 0.8vw, 1.1rem); }

.main-title {
  text-align: center;
  padding: 0.5rem;
  color: var(--color-accent);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Expense list styles */
.expense-list-container {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90%;
}

.expense-list-title {
  margin-bottom: 0.6rem;
  color: var(--color-accent);
}

.expense-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

.expense-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 1em;
  background-color: var(--color-mantle);
}

.expense-icon {
  font-size: 1.5rem;       /* Icon size */
  width: 3rem;
  display: flex;
  color: var(--color-accent); /* Icon color */
}

.expense-title {
  display: flex;
  color: var(--color-text);
  flex-direction: column; /* Stack text vertically */
  gap: 0.2rem;
}

/* Expense detail styles */
.expense-detail-container {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90%;
}

.expense-detail-title-main {
  margin-bottom: 0.6rem;
  color: var(--color-accent)
}

.expense-detail-card {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--color-mantle);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.expense-detail-amount,
.expense-detail-balance,
.expense-detail-date {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}

.expense-detail-icon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Expense friends styles */
.expense-friend-container {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90%;
}

.expense-friend-title {
  color: var(--color-accent);
  margin-bottom: 0.6rem;
}

/* Container of the card */
.friend-card {
  display: flex; /* Makes children align horizontally */
  align-items: center; /* Vertically center icon and text content */
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-mantle);
}

/* Icon friend within a circle */
.friend-icon {
  font-size: 1.5rem;       /* Icon size */
  width: 3rem;             /* Circle width */
  height: 3rem;            /* Circle height */
  display: flex;           /* Center icon inside */
  justify-content: center;
  align-items: center;
  background: var(--color-crust); /* Background color of the circle */
  color: var(--color-accent);   /* Icon color */
  border-radius: 50%;      /* Makes it a perfect circle */
}

/* Text content */
.friend-info {
  display: flex;
  color: var(--color-text);
  flex-direction: column; /* Stack text vertically */
  gap: 0.2rem;
}

.expense-friend-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

/* Edit expense styles */
.edit-expense-container {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 90%;
}

.edit-expense-title {
  color: var(--color-accent);
  margin-bottom: 0.6rem;
}

.edit-expense-card {
  border-radius: 0.5rem;
  padding: 1.5rem;
  background-color: var(--color-mantle);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.edit-title {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  white-space: nowrap;
}

.edit-icon {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-input, 
.form-button {
  width: 100%;              
  padding: 0.8rem;
  box-sizing: border-box;   
  border: none;
  border-radius: 0.5rem;
}

.form-input {
  background-color: var(--color-base);
  color: var(--color-text);
}

.form-button {
  background-color: var(--color-accent);
  color: var(--color-base);
  margin-top: 0.5rem;   
}


/* Add friend to expense styles */

/* Delete friend from expense styles */

/* Add credit to friend styles */

/* Footer styles */
footer {
  display: flex;
  gap: 0.3rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.25rem;
  align-items: center;
  justify-content: center;
}
